.event {
    display: flex;
    align-items: center;
    margin: 5em;
    padding: 2em 5em;
    background-color: rgba(128, 128, 128, 0.527);
    border: 1px solid black;
    border-radius: 50px;
}

.event .logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.event div {
    text-align: justify;
    padding-left: 3rem;
}

.event .head .email {
    padding-left: 0;
}

.name, .desc, .head {
  padding-bottom: 1rem;
}

/* .btn {
  background-color: rgba(128, 128, 128, 0.527);
  padding-bottom: 4rem;
} */

.getStartedBtn {
  text-align: center;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.5s;
}
  
.getStartedBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.getStartedBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.getStartedBtn:hover span {
  padding-right: 25px;
}
  
.getStartedBtn:hover span:after {
  opacity: 1;
  right: 0;
}