@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Source+Code+Pro&display=swap');

:root {
    --gen-font: 'Merriweather', serif;
    --head-font: 'Source Code Pro', monospace;
}

* {
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, li, a {
    text-align: center;
    font-family: var(--gen-font);
    text-decoration: none;
    list-style: none;
    margin: 0%;
    color: black;
}

/* .burger {
    display: none;
    width: fit-content;
    height: fit-content;
} */

/* body {
    background-color: grey;
} */

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: grey; */
    /* background-color: #05C7BA; */
    background-color: #028D83;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leftBox {
    margin-left: 20px;
}

.techLogo h1 {
    font-family: var(--gen-font);
    margin: 0%;
    padding: 0%;
}

.christLogo {
    width: 300px;
}

.link {
    margin: 0px 10px;
    color: black;
    padding: 5px;
}

.link:hover {
    color: white;
    transition: all 0.5s ease-in-out;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #028D83;
    padding: 3vh 0px;
}

.footer div {
    margin: 15px 0px;
}

.active {
    border: 1.5px solid black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {

    .burger{
        position: block;
    }

    .techLogo h1{
        font-size: 1.3rem;
    }

    .christLogo {
        width: 150px;
    }

    div.techLogo h1 {
        font-size: 1.5rem;
    }

    div.techLogo {
        margin-bottom: 20px;
    }
    
    div.copyright {
        font-size: 1rem;
        margin: 0px 30px;
        margin-bottom: 20px;
    }

    .centerBox  {
        display: none;
    }
    
  }


  .burger {
    /* border: 1px solid white; */
    height: 50px;
    width: 50px;
    padding: 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .7s ease;
}


  .line {
    width: 27px;
    height: 3px;
    /* background-color: rgb(175, 165, 165); */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transform: translateX(-50%);
}

.line:before, .line:after {
    content: '';
    width: 27px;
    height: 3px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all .4s ease;
}

.line:before {
    margin-top: -8px;
}

.line:after {
    margin-top: 8px;
}

.active1 .line:before {
    transform: rotate(45deg);
    background-color: #EE316B;
    margin-top: 0;
}

.active1 .line:after {
    transform: rotate(135deg);
    background-color: #EE316B;
    margin-top: 0;
}

.active1 {
    background-color: rgba(248, 247, 239, 0.2);
}

.slide {
    transform: translateX(0%);
}

.vanish {
    background-color: rgba(0, 0, 0, 0);
}