@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Source+Code+Pro&display=swap');

:root {
    --gen-font: 'Merriweather', serif;
    --head-font: 'Source Code Pro', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, li, a {
    font-family: var(--gen-font);
    color: black;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(156, 152, 152);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leftBox {
    margin-left: 20px;
}

.christLogo {
    width: 300px;
}

.link {
    padding: 0 10px;
}

.link:hover {
    color: white;
    transition: all 0.5s ease-in-out;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0px;
    background-color: rgb(156, 152, 152);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer div {
    margin: 10px 0px;
}

.active {
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}