.parallax {
  background-image: url("../images/suit.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh; 
}

.theme {
  margin: 25px 0px;
  font-size: 2rem;
  font-weight: bold;
}

.heading {
  padding: 50px 0 20px 0;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: rgba(128, 128, 128, 0.527);
}

.heading div {
	margin: 25px 15rem;
	font-size: 1.2rem;
	font-weight: bold;
}

div.mainHeading {
	font-size: 2rem;
}

.desc {
  text-align: justify;
}

.btn {
  background-color: rgba(128, 128, 128, 0.527);
  padding-bottom: 4rem;
}

.getStartedBtn {
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.5s;
}
  
.getStartedBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.getStartedBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.getStartedBtn:hover span {
  padding-right: 25px;
}
  
.getStartedBtn:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1200px) {
  .heading div {
    margin: 20px 20px;
    font-size: 1rem;
  }

  div.mainHeading {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .content {
    margin: 0px 0px;
  }
  
  .desc {
    font-size: .5rem;
  }

  .parallax {
    height: 100vh;
    background-size: contain;
  }

  .theme {
    margin: 50px 0px 0px 0px;
  }
}