* {
	/* box-sizing:border-box; */
	scroll-behavior: smooth;
}

body {
  /* background: url('../images/background.svg') no-repeat center center/cover; */
  /* background-attachment: fixed; */
  width: 100%;
  min-height: 100vh;
  background-color: rgb(166,166,166);
}

.paralax {
  background-image: url("../images/background.svg");
  height: 85vh; 
  /* width: 100%; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .getStarted button {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: var(--gen-font);
} */

.btn {
    /* text-align: right; */
    margin: 0px 100px;
    box-sizing:content-box;
}

.getStartedBtn {
  border-radius: 10px;
  background-color: grey;
  border: none;
  border: 1px solid black;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:  35px 15px;
}
  
.getStartedBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.getStartedBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
	/* font-size: 2rem; */
}
  
.getStartedBtn:hover span {
  padding-right: 25px;
}
  
.getStartedBtn:hover span:after {
  opacity: 1;
  right: 0;
}


.getStartedBtn a {
  color: black;
}

.heading div {
	/* text-align: c; */
	/* margin-right: 50vw; */
	/* margin-left: 20px; */
	margin: 25px 250px;
	font-size: 1.2rem;
	font-weight: bold;
}

div.mainHeading {
	font-size: 2rem;
}

/* .desc {
	text-align: justify;
  color: white;
} */

.theme {
  margin: 50px 0px;
  color: black;
  font-size: 2rem;font-weight: bold;
}

.container {
  background-color: white;
}