* {
	scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(166,166,166);
}

.paralax {
  background-image: url("../images/background.svg");
  height: 85vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
    margin: 0px 100px;
    box-sizing:content-box;
}

.getStartedBtn {
  border-radius: 10px;
  background-color: grey;
  border: none;
  border: 1px solid black;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:  35px 15px;
}
  
.getStartedBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.getStartedBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.getStartedBtn:hover span {
  padding-right: 25px;
  color: white;
}
  
.getStartedBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.getStartedBtn a {
  color: black;
}

.heading div {
	margin: 25px 250px;
	font-size: 1.2rem;
	font-weight: bold;
}

div.mainHeading {
	font-size: 2rem;
}

.theme {
  margin: 50px 0px;
  color: black;
  font-size: 2rem;font-weight: bold;
}

.container {
  background-color: white;
}

.content {
  margin: 100px 100px;
}

.heading {
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.desc {
  text-align: justify;
}



@media only screen and (max-width: 1200px) {
  .getStartedBtn {
    margin: 0%;
    margin-bottom: 50px;
  }

  .heading div {
    margin: 20px 20px;
    font-size: 1rem;
  }

  div.mainHeading {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .theme {
    margin: 0px 0px;
    margin-top: 50px;
  }

  .content {
    margin: 0px 0px;
  }
  
  .desc {
    font-size: .5rem;
  }
  .paralax {
    height: 90vh;
  }

  div.techLogo h1 {
    font-size: 1.5rem;
  }

  div.techLogo {
    margin-bottom: 20px;
  }

  div.copyright {
    font-size: 1rem;
    margin: 0px 30px;
    margin-bottom: 20px;
  }
}