.tableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}

.table {
    padding: 20px;
    background-color: #ff1f50;
    font-size: 1.2rem;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-weight: bold;
}

table{
    border: 1px solid black;
}

table td {
    padding: 5px 10px;
}

@media only screen and (max-width: 1200px) {
    .tableContainer {
        grid-template-columns: 1fr;
    }
}

.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin: 20px;
}
.roundedFixedBtn:hover{
    color: #ff1f50;
    transition: all 0.3s ease-in-out;
}

.roundedFixedBtn{
  height: 50px;
  width: 80px;  
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #333;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}