@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Source+Code+Pro&display=swap');

:root {
    --gen-font: 'Merriweather', serif;
    --head-font: 'Source Code Pro', monospace;
}

body {
    text-align: center;
}

body::before {
    content: "";
    background: url('./images/background.svg') no-repeat center center/cover;
    opacity: 0.70;
    z-index: -51;
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.techLogo h1 {
    font-family: var(--gen-font);
}

.techLogo h1 {
    margin: 0%;
    padding: 0%;
}

.christLogo {
    width: 300px;
}

.link {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer div {
    margin: 20px 0px;
}