@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Source+Code+Pro&display=swap');

:root {
    --gen-font: 'Merriweather', serif;
    --head-font: 'Source Code Pro', monospace;
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body, li, a {
    text-align: center;
    font-family: var(--gen-font);
    text-decoration: none;
    list-style: none;
    margin: 0%;
}

.navigationBar::before {
    content: "";
    background: url('./images/background.svg') no-repeat center center/cover;
    opacity: 0.70;
    z-index: -50;
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100vw;
    min-height: 100vh;
}

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leftBox {
    margin-left: 20px;
}

.techLogo h1 {
    font-family: var(--gen-font);
    margin: 0%;
    padding: 0%;
}

.christLogo {
    width: 300px;
}

.link {
    margin: 0px 10px;
    color: black;
}

.getStarted button {
    padding: 20px;
    border-radius: 20px;
    /* text-align: center; */
    /* font-family: var(--gen-font); */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.527);
    padding: 5vh 0px;
}

.footer div {
    margin: 25px 0px;
}