body {
    background-image: url(./images/background.svg);
    text-align: center;
}

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.techLogo h1 {
    margin: 0%;
    padding: 0%;
}

.christLogo {
    width: 300px;
}

.link {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

