@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Source+Code+Pro&display=swap');

:root {
    --gen-font: "Merriweather, serif";
    --head-font: "Source Code Pro, monospace";
}

body {
    background-image: url(./images/background.svg);
    text-align: center;
}

.navigationBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.leftBox h1 {
    font-family: var(--head-font);
}

.techLogo h1 {
    margin: 0%;
    padding: 0%;
}

.christLogo {
    width: 300px;
}

.link {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

