* {
	/* box-sizing:content-box; */
	scroll-behavior: smooth;
}

body {
  background: url('./images/background.svg') no-repeat center center/cover;
  /* background-image: url('./images/bg.jfif'); */
  background-attachment: fixed;
  /* opacity: 0.50; */
  z-index: -50;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-color: rgba(240, 248, 255, 0.384);
}

.person img {
    height: 150px;
}

.person div {
    margin-top: 5px;
}

.name{
    font-weight: bold;
    font-size: 1.2rem;
}

.email {

}

.pos, .work {
    font-weight: bold;
}

